*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(173deg, rgba(0,0,0,1) 11%, rgba(0,0,0,1) 26%, rgba(80,53,2,1) 54%, rgba(0,0,0,1) 95%);
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question{
    text-align: center;
} 
#question_item{
    font-size: 80px;
    font-family: fantasy;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.button{
    padding: 20px 50px;
    border-radius: 10px;
    text-transform: uppercase;
    background: rgb(0,0,0);
    font-weight: bold;
    background: linear-gradient(173deg, rgba(0,0,0,1) 0%, rgba(0,255,187,1) 0%, rgba(235,155,6,1) 100%);
}

#loading{
    font-weight: 400;
}

#result{
    font-family: sans-serif;
    font-size: 25px;
}

.response{
    margin-top: 20px;
}